@inject IConfiguration _configuration
@{  
    string _lang = ViewBag.Lang ?? "tr";
    var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["Action"].ToString().ToLower();
    var productCategories = (await categories.GetCategoryListAsync()).Data.ToList();
    var url = Context.Request.Path;
}

<footer>
    <div class="container">
        <div class="footer-main w-100 text-center  flex-column justify-content-center align-items-center">
            @* <div class="footer-logo d-block mx-auto position-relative">
                <img src="@await Component.InvokeAsync("Image", new { FileCode = configs.Data.FileCode })" alt="">
            </div> *@
            <ul class="d-lg-flex justify-content-center mt-3 menu-footer-list align-items-center">
                <li class="mt-2 mt-lg-0 me-0 me-lg-4 menu-footer-item">
                    <a asp-controller="Home" asp-action="Index" asp-route-_lang="@_lang">
                        @_configuration[$"HOME:{_lang}"]
                    </a>
                </li>
                <li class="mt-2 mt-lg-0 me-0 me-lg-4 menu-footer-item">
                    <a asp-controller="About" asp-action="Index" asp-route-_lang="@_lang">
                        @_configuration[$"ABOUT:{_lang}"]
                    </a>
                </li>
                <li class="mt-2 mt-lg-0 me-0 me-lg-4 menu-footer-item dropdown">
                    <a class="btn btn-footer-down" type="button" id="NewsFooter"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        @_configuration[$"NEWS:{_lang}"]
                    </a>
            
        </div>
        <div class="footer-alt d-flex justify-content-between align-items-center mt-3 pb-3">
            <p class="footer-copright">Copyright @DateTime.Now.Year, Apollo. All right reserved</p>
            <div class="dropdown">
                <button class="btn footer-lang" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-globe2"></i>
                    <span class="position-relative">@_lang.ToUpper()</span>
                </button>
                <ul class="dropdown-menu js-down" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" asp-controller="Language" asp-action="Change" asp-route-_lang="tr" asp-route-slugurl="@url" type="button">TR</a></li>
                    <li><a class="dropdown-item" asp-controller="Language" asp-action="Change" asp-route-_lang="en" asp-route-slugurl="@url" type="button">EN</a></li>
                    <li><a class="dropdown-item" asp-controller="Language" asp-action="Change" asp-route-_lang="ru" asp-route-slugurl="@url" type="button">RU</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>