@inject IConfiguration _configuration

@{
    var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["Action"].ToString().ToLower();

        
}
<!DOCTYPE html>
<head>
    @RenderSection("seo", required: false)
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    @RenderSection("Styles", required: false)
    <link rel="preload" as="font" type="font/woff" crossorigin="anonymous" href="/assets/fonts/SofiaPro-SemiBold.woff">
    <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/assets/fonts/SofiaPro-SemiBold.woff2">
    <link rel="preload" as="font" type="font/woff" crossorigin="anonymous" href="/assets/fonts/SofiaPro-Medium.woff">
    <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/assets/fonts/SofiaPro-Medium.woff2">
    <link rel="preload" as="font" type="font/woff" crossorigin="anonymous" href="/assets/fonts/SofiaPro-regular.woff">
    <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/assets/fonts/SofiaPro-regular.woff2">
    <link rel="stylesheet" href="/assets/css/style.min.css" asp-append-version="true" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    @{await Html.RenderPartialAsync("_Header");}

    @RenderBody()    

    @{await Html.RenderPartialAsync("_Footer");}
    <div class="overlay-body w-100 position-fixed top-0"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    
    @RenderSection("validation", required: false)
    @RenderSection("Scripts", required: false)
    @{ await Html.RenderPartialAsync("_MessagesModal"); }
    <script src="~/assets/js/style.js" asp-append-version="true"></script>
</body>
</html>
